
*{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

h1{
    align-items: center;
    justify-content: center;

    font-size: 30px;
    font-weight: bold;

    transition: 0.7s;
}



nav{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(42, 39, 39);
}

nav ul{
    align-items: center;
    justify-content: center;

    margin-right: 40px;
}

nav ul li{
    display: inline-flex;

    padding: 39px 30px;
    font-weight: bold   ;

    font-size: 20px;

    transition: 0.2s;
}

nav ul li:hover{
    cursor: pointer;
    background-color: rgb(61, 61, 61);

    border-top: 5px solid rgb(205, 67, 255);
    padding: 35px 30px;

    transition: 0.2s;
}

h1:hover{
    color: rgb(205, 67, 255);
    cursor: pointer;
    transition: 0.7s;
}

body{
    background-color: rgb(255, 255, 255);
}


article{
    display: flex;
    flex-direction: column;
    margin: 250px 200px;



    color: rgb(83, 83, 83);


    width: 80%;
    height: 100%;
}

h2{
    font-weight: bold;
    font-size: 60px;

    color: rgb(0, 0, 0);
}

article p{
    width: 70%;

    font-size: 55px;

    margin-bottom: 20px;
    font-weight: bold;
    color:rgb(107, 107, 107);
}

article a {
    display: flex;
    justify-content: center;
    width: 20%;
    text-decoration: none;
    background-color: rgb(42, 39, 39);
    border-radius: 30px;
    border: 10px solid rgb(42, 39, 39);
}

article a p {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    text-align: center; 
    line-height: 1;

    transition: 0.2s;
}

article a p:hover{
    color: rgb(205, 67, 255);
    transition: 0.2s;

}

article a:hover{
    background-color: rgb(61, 61, 61);
    border: 10px solid rgb(61, 61, 61);
    transition: 0.2s;
}


.devSeconds{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin: 250px auto;


    
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(0, 0, 0);


    width: 50%;
    height: 100%;
}

#seconds{
    font-weight: bold;
    font-size: 70px;
    color: rgb(107, 107, 107);
}


.skills{
    display: inline-flex;
    flex-direction: column;

   

    margin: auto 250px;
    font-weight: bold;


    color: rgb(107, 107, 107);


    width: 70%;
}
.skills .programming:hover{
    box-shadow: 0px 0px 20px 10px rgba(194, 27, 255, 0.283);

    transition: 0.8s;
}

.skills .programming{
    background-color: rgba(135, 135, 135, 0.283);
    border-radius: 40px;
    display: flex;

    width: 100%;

    margin: 60px auto;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: 0.8s;
}



.skills h2{
    color: rgb(0, 0, 0);
    font-weight: bold;
}


.skills ul{
    margin-top: 10px;
    margin-left: 25px;
}

.skills ul li{
    display: inline-flex;

    fill-opacity: (50%);
    filter: brightness(100%);
}

.skills img{
    padding-top: 5px;
    height: 70px;
    width: 70px;
}

.small{
    height: 60px !important;
    width: 60px !important;
    padding-bottom: 8px !important;
}

.big{
    height: 80px !important;
    width: 80px !important;
    padding-top: 0px !important;
}





footer{
    display: flex;
    background-color: black;
    width: 100%;
    height: 200px;

    margin-top: 150px;

    align-items: center;
    justify-content: center;
}

footer ul{
    align-items: center;
    justify-content: center;
}

footer ul li{
    display: inline-flex;
    margin: 0 70px;

    font-size: 25px;
}

footer ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.left{
    display: flex;
    width: 50%;
    height: 100%;
}

.right{
    display: flex;
    width: 50%;
    height: 100%;
}

.navs{
    color: rgb(255, 255, 255);
}

.color{
    color: rgb(205, 67, 255);
}


