*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

html{
    background-color: black;
}

h1 p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;

    text-align: center;
    
}

ul li{
    display: inline-block;
}

ul li a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color:rgb(135, 135, 135);
    text-decoration: none;
    margin: 0 15px;
}

ul li a:hover{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color:black;
    text-decoration: none;
    margin: 0 15px;
    cursor: pointer;
}

.AboutMe{
    background-color: rgb(194, 194, 194);
}

.AboutMe p{
    font-size: 20px;
}

#bold{
    font-weight: bold;
    font-size: 22px;
}

article p{
    display: flex;
    position: relative;
    color: black;

    justify-content: center;
    align-items: center;

    margin: 0 auto;

    z-index: 1;
    width: 50%;
}

article{
    position: relative;
    background-image: url("./none.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px;
    text-align: center;
}

article::before {
    content: "";
    backdrop-filter: blur(2px);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Change the color and opacity as needed */
}

footer p{
    color: white;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: none;
}

footer ul{
    float: right;
    margin-right: 100px; 
    
}

footer ul li{
    margin: 0 20px; 
}



.container{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: white;

    width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: black;

    width: 100%;

    height: 80px;
}

.lf{
    width: 50%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

.rg{
    width: 50%;
}


.container{
    text-align: center;
    height: 70px;
}

footer ul li p{
    font-size: 15px;
}

.ABTME{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.RW{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding-bottom: 50px;
}

.RW p{
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: rgb(213, 212, 212);
    padding: 30px 0px;
    font-size: 30px;
}

.reviews{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviews li{
    background-color: rgb(213, 212, 212);
    border-radius: 7%;
    display: inline-block;
    margin: 0px 30px;
    width: 500px;
    height: 480px;
    text-align: center;
    max-height: 450px;
    max-width: 500px;
    margin-bottom: 50px;
}

.reviews .user{
    color: black;
    margin: 0;
    padding:0;
    font-size: 20px;
}

.reviews li p{
    color: black;
    margin: 0px 40px;
}

.reviews .URW{
    color: black;
    font-size: 20px;
    text-transform: none;
    font-weight: normal;
}

.reviews img{
    width: 100px;
}

.reviews li::-webkit-scrollbar {
    display: none;
}

.formation{
    display: flex;
    align-items: center;
    align-content: center;
    background-color: rgb(225, 225, 225);

    width: 100%;
}

.formation .all{
    width: 50%;
    text-align: left;
    text-align: center;
}

.formation .img{
    width: 50%;
}

.formation .img img{
    width: 100%;
    height: 100%;
}

.formation .all .title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 30px 30px;
}

.formation .all .text{
    font-size: 25px;
    margin: 30px 30px;
    width: 500px;
    display: flex;
    margin: 0px auto;
}



@media only screen and (min-width: 600px){
    article{
        height: auto;
        width: auto;
    }

    .reviews li{
        height: 450px;
        width: auto;
        margin: 15px;
        overflow-y: scroll;
    }

    .container{
        min-height: 70px;
        height: auto;
        width: auto;
    }

    .formation .all .text{
        height: auto;
        width: 30vw;
    }
}