*{
    margin: 0;
    padding: 0;
    border: 0;

    font-family:Arial, Helvetica, sans-serif;
}

html{
    background-color: black;
}


.top{
    width: 100%;
    height: 200px;

    background-color: rgb(255, 255, 255);
}


.top p{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}


.top nav{
    padding-top: 40px;
}


.top nav ul{
    display: flex;
    justify-content: center;
}


.top nav ul li{
    display: inline-flex;
    margin-left: 50px;
    margin-right: 50px;

    text-transform: uppercase;
}


.top nav ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}


.top nav ul li a:hover{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

main{
    width: 100%;
    height: 900px;

    background-image: url(./texture.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.presentation{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    z-index: 5;
    align-items: center;
}

.presentation p{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    justify-items: center;

    height: 100%;
    width: 100%;
    
    color: white;
    font-size: 50px;
}


@media only screen and (min-width: 375px){
    .top p{
        font-size: 60px;
    }
    .top nav ul li a
    {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px){
    .top p{
        font-size: 70px;
    }
    .top nav ul li a
    {
        font-size: 35px;
    }
}


#bold{
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 10px outset rgb(222, 222, 222);
}

main .presentation p{
    display: flex;

    color: rgb(222, 222, 222);
    font-size: 35px;

    width: 90%;
}

main{
    text-align: center;

    background-image: url("./texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 100px 0;
    padding-top: 70px;
}

.presentation{
    align-items: center;
    justify-content: center;
}