* {
    margin: 0;
    padding: 0;
    border: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: black;
}

#bold {
    font-weight: bold;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 10px outset rgb(222, 222, 222);
}


.top {
    width: 100%;
    height: 200px;

    background-color: rgb(255, 255, 255);
}


.top p {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
}


.top nav {
    padding-top: 40px;
}


.top nav ul {
    display: flex;
    justify-content: center;
}


.top nav ul li {
    display: inline-flex;
    margin-left: 50px;
    margin-right: 50px;

    text-transform: uppercase;
}


.top nav ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}


.top nav ul li a:hover {
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

main {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 1000px;

    background-image: url(./texture.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding: 100px 0;
    padding-top: 70px;
}


.presentation {
    display: flex;
    flex-direction: column;

    width: 70%;
    height: 70%;
    z-index: 5;

    margin-top: 50px;
    margin-bottom: 50px;


    align-items: center;
    justify-content: center;
}

.presentation p {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    justify-items: center;


    height: 100%;
    width: 100%;

    color: white;
    font-size: 50px;

}

main .presentation p {
    display: flex;

    color: rgb(222, 222, 222);
    font-size: 35px;

    

    width: 90%;
}


.education{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 700px;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.education .bold{
    font-weight: bold;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.education p{
    font-size: 35px;
}

.rg{
    margin: 0 40px;
    width: 50%;
}

.lf{
    width: 50%; 
}

.education p{
    color:black;
    font-size: 35px;
}

.lf img{
    width: 100%;
    height: 100%;
}

footer{
    display: flex;

    width: 100%;
    height: 200px;

    color:white;
    background-color: rgb(0, 0, 0);

    align-items: center;
}

footer a{
    text-decoration: none;
}

footer .bold{
    font-size: 40px;
    margin-left: 70px;
    color: white;
}

footer .bold:hover{
    color: white;
    text-decoration: underline;
}

footer ul{
    margin-right: 70px;
}

footer ul .lf{
    display: flex;
    float: left;
    left: 70px;
}


footer ul li{
    display: inline-block;
    float: right;
    margin: 0 10px;
}

footer ul li a{
    color: white;
    font-size: 30px;
    margin: 0 10px;
}

footer ul li a:hover{
    text-decoration: underline;
}



@media only screen and (min-width: 375px) {
    .top p {
        font-size: 60px;
    }

    .top nav ul li a {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .top p {
        font-size: 70px;
    }

    .top nav ul li a {
        font-size: 35px;
    }
}


h1{
    width: 100%;
    height: 1100px;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    display: flex;
    font-size: 120px;

    background-image: url(./texture.jpg);
}